html {
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}

/*div {
	border: 1px solid pink;
}*/

.header, .banner , .information, .courses, .thesis, .footer {
	max-width: 1024px;
	margin: 0 auto;
}
.banner, .information, .courses, .thesis {
	padding: 2rem 1.5rem;
}
.main {
	width: 60%;
}
.main p {
	font-size: 0.7rem;
}
/*list*/
.lists {
	width: 40%;
}
.lists .list {
	display: flex;
	padding: 0.5rem 0 0.5rem 1rem;
	align-items: center;
}
.lists .list .info h3 {
	font-size: 1rem;
	font-weight: 600;
}
.lists .list .info p {
	font-size: 0.7rem;
	margin-top: 0.5rem;
}
.lists .list .image {
	width: 35%;
}
.lists .list .image img {
	width: 100%;
}
.lists .list .info {
	width: 65%;
	padding-left: 1rem;
}

/*header*/
.header {
	display: flex;
	height: 4rem;
	padding: 1rem 1.5rem;
	align-items: center;
	font-family: 'Oxygen', sans-serif;
}
.header-mobile {
	display: flex;
	height: 4rem;
	padding: 1rem;
	justify-content: space-between;
}
.header .logo {
	display: flex;
	flex-grow: 1;
	align-items: center;
	text-transform: uppercase;
}
.header .logo span {
	font-weight: bold;
}


.header ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.header li {
	margin-left: 1rem;
}

/*banner*/
.banner {
	display: flex;
	background-color: #d3d3d3;
}
.banner .image {
	width: 60%;
}
.banner .image img {
	width: 100%;
}
.banner .copy {
	width: 40%;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 1rem;
}
.banner .copy h1 {
	font-size: 2rem;
	font-weight: bold;
	color: #403E3E;
	line-height: 2.5rem;
}
.banner .copy p {
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.5rem;
}
.banner .copy .button {
	display: flex;
	background-color: #403E3E;
	width: 80%;
}
.banner .copy .button p {
	margin: 8px auto;
	color: white;
}

/*information*/
.information {
	display: flex;
	background-color: whitesmoke;
}
.information .main img {
	width: 100%;
}
.information .main h2 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	font-weight: 700;
}
.information .main .name {
	font-weight: 600;
	margin-top: 2rem;
}
.information .lists .list:nth-child(1) {
	padding-top: 0;
}
.information .lists .list .info p {
	margin-bottom: 0.5rem;
}
.information .lists .list .info .read {
	color: #1E90FF;
}

/*courses*/
.courses {
	background-color: #dcdcdc;
	padding: 2rem 4.5rem;
}
.courses h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
	text-align: center;
}
.courses .grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.courses .grid .course {
	width: 32%;
	background-color: white;
}
.courses .grid .course:nth-child(4),
.courses .grid .course:nth-child(5),
.courses .grid .course:nth-child(6) {
	margin-top: 1rem;
}
.courses .grid .course img {
	width: 100%;
}
.courses .grid .course h3 {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 1rem;
	margin-left: 1rem;
}
.courses .grid .course p {
	margin: 0.5rem 1rem 1rem 1rem;
	font-size: 0.7rem;
	color: dimgrey;
}

/*thesis*/
.thesis {
	background-color: whitesmoke;
}
.thesis h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
	text-align: center;
	width: 100%;
}
.thesis .grid {
	display: flex;
}
.thesis .main video {
	width: 100%;
	height: auto;
}
.thesis .main h3 {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
.thesis .main p {
	color: dimgrey;
}
.thesis .lists .list:nth-child(1) {
	padding-top: 0;
}
.thesis .lists .list .info p {
	color: dimgrey;
}

/*footer*/
.footer {
	background-color: whitesmoke;
	padding: 1rem 1.5rem;
	border-top: 1px solid #d3d3d3;
	display: flex;
	font-size: 0.7rem;
	color: dimgrey;
}
.footer .copyright {
	flex-grow: 1;
}
.footer .nav ul {
	list-style: none;
	display: flex;
}
.footer .nav ul li {
	margin-left: 0.5rem;
}
